.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: var(--blue);
    overflow-y: auto;
    overflow-x: hidden;
}

.page-screen {
    width: 100%;
    height: calc(100vh - 70px);
}

.page-padding {
    padding: 40px 8%;
}

@media screen and (max-width: 1024px) {
    .page-padding {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 640px),
screen and (max-height: 640px) {
    .page-screen {
        height: calc(100vh - 60px);
    }
}