/* ===== HERO ===== */
.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.hero-video {
    min-width: 220px;
    width: 90%;
    max-width: 1536px;
    height: 70%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.home-hero-text {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
    width: 100%;
    height: 30%;
}

.home-hero-text h1 {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px #FFF, 0 0 20px #fff891, 0 0 40px #fff891, 0 0 80px #fff891;
}

.home-hero-text h1 span {
    color: #FFF;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 14rem;
    line-height: 100px;
    text-transform: lowercase;
    text-shadow: 0 0 10px #FFF, 0 0 20px #fff891, 0 0 40px #fff891, 0 0 80px #fff891;
}

@media screen and (max-width: 640px),
screen and (max-height: 640px) {
    .hero-video {
        height: calc(100vh - 60px);
        width: 100%;
    }

    .home-hero-text {
        width: 50%;
    }

    .home-hero-text h1 {
        font-size: 2rem;
    }

    .home-hero-text h1 span {
        font-size: 9.35rem;
        line-height: 60px;
    }
}

/* ===== MISSION ===== */
.home-mission {
    width: 100%;
    height: 230px;
}

.home-mission h3 {
    font-family: "League Spartan", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.home-mission p {
    font-family: "Antic Didone", serif;
    font-size: 3.7rem;
    font-weight: 500;
}

@media screen and (max-width: 640px) {
    .home-mission {
        height: calc(100vh - 60px);
    }
}