.donate {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  color: white;
  background-color: black;
  font-family: "League Spartan";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  color: white;
  font-family: "League Spartan";
  margin-bottom: 2rem;
}

.container {
  margin-top: 20px;
  color: #000;
  padding: 20px;
  background-color: #f2f2e6ff;
  font-size: 2rem;
  border-radius: 0.9rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.donate-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.5rem;
  background-color: #f2f2e6ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: #000 solid 2px;
}

p {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.pix-icon {
  margin-right: 10px;
  color: #000000;
  font-size: 2rem;
}

.copy-icon-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 0;
}

.donate-icon {
  font-size: 2rem;
  margin-right: 10px;
  color: black;
  vertical-align: middle;
}

.pix-message {
  margin-top: 10px;
  padding: 12px 20px;
  background-color: #001c5cff;
  border: 2px;
  color: white;
  font-size: 1.8rem;
  border-radius: 8px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.texto-verse {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1rem;
  font-style: italic;
}

.verse {
  margin-top: 1.5rem;
  text-align: right;
  font-size: 1.8rem;
  color: #ffffff;
}

.bloquinhuu {
  border: 2px solid #992900ff;
  padding: 5rem;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  max-width: 600px;
  margin: 3rem auto;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3.2rem;
  }

  p {
    font-size: 1.8rem;
  }

  .container {
    padding: 15px;
    font-size: 1.8rem;
  }

  .donate-button {
    font-size: 1.3rem;
    padding: 10px 20px;
  }

  .copy-icon-button {
    font-size: 24px;
  }

  .donate-icon {
    font-size: 1.8rem;
  }

  .pix-message {
    font-size: 1.6rem;
    padding: 10px 15px;
  }

  .texto-verse {
    font-size: 1.9rem;
  }

  .verse {
    font-size: 1.5rem;
  }

  .bloquinhuu {
    padding: 2rem;
  }
}
